includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max

    parallel:
        maximumNumberOfProcesses: 4

    paths:
        - src
        - tests

    ignoreErrors:
        -
          message: '#Call to an undefined method Pest\\PendingCalls\\TestCall\|Pest\\Support\\HigherOrderTapProxy\:\:.+?\.#'
          paths:
            - tests/*
